<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>about us</h3>
            <p>
                A roadmap for students and learners to make their learning easy.
                Beat references at one place.Discovering and developing new
                skills.
            </p>
        </div>
        <div class="box">
            <h3>contact us</h3>
            <p><i class="fas fa-phone"></i> +91 9999999999</p>
            <p><i class="fas fa-envelope"></i> studentGuide@gmail.com</p>
            <p>
                <i class="fas fa-map-marker-alt"></i> GEC-Bhavnagar, india -
                364001
            </p>
        </div>
    </div>
</section>