
  <link rel="stylesheet" href="css/style.css" />

  <div class="container">
    <%- include('_header');%>

    <h1 class="heading">Our Team</h1>

    <!-- team section  -->

    <section class="team">
      <div class="box">
        <img src="images/rutvi-img.jpg" alt="" />
        <h3>Rutvi Masalawala</h3>
        <p>
          Hey there! I'm Rutvi. I'm a student of GEC-Bhavnagar. My interests
          are javascript, UI-UX designs.
        </p>
        <div class="share">
          <a href="https://instagram.com/elsuenyo008?igshid=ZGUzMzM3NWJiOQ==" class="fab fa-instagram"></a>
          <a href="https://www.linkedin.com/in/rutvi-masalawala-91817a201/" class="fab fa-linkedin"></a>
          <!-- <a href="#" class="fab fa-facebook-f"></a> -->
          <!-- <a href="#" class="fab fa-twitter"></a> -->
        </div>
      </div>

      <div class="box">
        <img src="images/jay-img.PNG" alt="" />
        <h3>Jay Zadafiya </h3>
        <p>
          Hey there! I'm Jay. I'm a student of GEC-Bhavnagar. My interests are
          backend design and services.
        </p>
        <div class="share">
          <!-- <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a> -->
          <a href="https://www.instagram.com/_hyy.jay/" class="fab fa-instagram"></a>
          <a href="https://www.linkedin.com/in/jay-zadafiya-5a3157202/" class="fab fa-linkedin"></a>
        </div>
      </div>

      <div class="box">
        <img src="images/bhavya-img.PNG" alt="" />
        <h3>Shah Bhavya</h3>
        <p>
          Hey there! I'm Bhavya. I'm a student of GEC-Bhavnagar. My interests
        </p>
        are HTML, CSS, JavaScript and Python.
        <div class="share">
          <!-- <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a> -->
          <a href="https://www.instagram.com/__bhavyaa_3/" class="fab fa-instagram"></a>
          <a href="https://www.linkedin.com/in/bhavya-shah-a46277220/" class="fab fa-linkedin"></a>
        </div>
      </div>

      <div class="box">
        <img src="images/parth.jpeg" alt="" />
        <h3>Parth Baldaniya</h3>
        <p>
          Hey there! I'm Parth. I'm a student of GEC-Bhavnagar. My interest
          lies in Full stack development.
        </p>
        <div class="share">
          <!-- <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a> -->
          <a href="https://www.instagram.com/parthbaldaniya4212/" class="fab fa-instagram"></a>
          <a href="https://www.linkedin.com/in/parth-baldaniya-63bb2a237/" class="fab fa-linkedin"></a>
        </div>
      </div>
    </section>

  
    <!-- footer section  -->
    <%- include('_footer');%>
  </div>

  <!-- custom js file link -->
  <script src="js/script.js"></script>
